{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous - Click & Coiff{% endblock %}

{% block content %}
<h2 class="text-center mt-3 text-dark"> Vos rendez-vous</h2>

{% for message in app.flashes ('rdvpris') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
{% if mesrdv %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Heure</th>
      <th scope="col">Salon</th>
      <th scope="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
  {% for rdv in mesrdv %}
    <tr>
    
        <td>{{ rdv.daterdv|date('d-m-Y') }}</td>
        <td>{{rdv.heures }}</td>
        <td>{{ rdv.adresse.enseigne }}</td>
        <td> <a href="{{ path('deleterdv', {id: rdv.id})}}" class="btn btn-danger" id="supprimerdv"> Annuler </a></td>
     
    </tr>
  {% endfor %}   
  </tbody>
</table>

{% else %}

<p class="text-center text-dark mt-4">Vous n'avez actuellement pas de rendez-vous</p>

{% endif %}

{% endblock %}
{% block javascript %} <script src="{{ asset('assets/js/scriptsuppression.js')}}"></script>{% endblock %}
