{% extends 'base.html.twig' %}

{% block title %}Recherche - Click & Coiff{% endblock %}

{% block content %}

<h2 class="text-center mt-3 text-dark"> Résultat de votre recherche</h2>

{% for enseigne in enseignes %}
<div class="card m-3 p-1">
  <div class="card-header bg-dark text-light">
    <p id="nomEnseigne">{{ enseigne.nom|capitalize }}</p>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
    
    {% for coupe in coupes %}
        {% for coup in coupe.fichiers %}
            <img src="/image/{{ coup.image }}" alt="{{ coup.nom }}" id="listimg">
        {% endfor %}
    {% endfor %}
    <p class="card-text inline-block">{{ enseigne.adresses|raw }}</p>
    </div>
    <div class="text-center">
    <a href="{{ path ('ficheEnseigne', {'id' : enseigne.id})}}" class="btn btn-info m-auto"> Prendre RDV</a>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}
