{% extends 'base.html.twig' %}

{% block title %}
	{{ enseigne.nom }}
	- Click & Coiff
{% endblock %}

{% block content %}

	<div class="row mt-5">
		<div class=" col-12 col-md-8">
			<div id="presenseigne">
				<h2 class="text-center text-dark" id="titre-enseigne">
					{{ enseigne.nom|capitalize }}</h2>
				<p class="text-center text-dark pres-enseigne">{{ enseigne.adresses.rue}}
				</p>
				<p class="text-center text-dark pres-enseigne">{{ enseigne.adresses.codePostal}}
					{{ enseigne.adresses.ville|capitalize}}</p>
				<p class="text-center text-dark pres-enseigne">
					Salon
					{{ enseigne.typeCoiffeur}}</p>
				<p class="text-center text-dark" id="covid">
					Pensez à vous munir de votre masque et de respecter les distanciations sociales</p>
			</div>
			<table class="table mt-3">
				<thead class="thead-dark">
					<tr>
						<th scope="col" class="pres-enseigne">Nos prestations</th>
						<th scope="col" class="pres-enseigne">Tarif</th>
						<th scope="col" class="pres-enseigne">Durée en minutes</th>
					</tr>
				</thead>
				<tbody>

					{% for prestation in enseigne.prestationServices %}
						<tr>
							<td class="pres-enseigne">{{ prestation.nom|capitalize }}</td>
							<td class="pres-enseigne">{{ (prestation.prix / 100) | number_format(2, ',' , '.')}}
								€</td>
							<td class="pres-enseigne">{{ prestation.duree }}
								minutes</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>
		<div
			class="col-12 col-md-4">
			{# Le attr, attribut un id à mon formulaire #}

			{{ form_start(form, {"attr" : {"id" : 'formrdv','novalidate': 'novalidate'} }) }}
			{{ form_widget(form.daterdv) }}
			{{ form_widget(form.heures) }}


			<div id="hrdv"></div>

			<div id="plagehoraire" class="d-none mt-4" data-url="{{ path ('plage_horaire', {id: enseigne.id})}}"></div>

			{{ form_widget(form.submit, { 'attr': {'class': 'd-none btn btn-success btn-block mt-3'} }) }}

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script src="{{ asset('assets/js/scriptrdv.js')}}"></script>
{% endblock %}
